.o-slinker-card {
  border: 2px solid #f00;
  border-radius: 5px;
  height: 7.5rem;
  width: 7.5rem;
  padding: 1px;
  margin: 0.4rem 0.6rem 0.4rem 0;
  box-shadow: 1px 1px 0px 0px rgba(94,93,102,0.08),
              2px 2px 3px 0px rgba(94,93,102,0.1);

  &--collapsed {
    border: 2px solid #222;
    background-color: #eee;
    border-radius: 5px;
    height: auto;
    width: 7.5rem;
    padding: 1px;
  }

}

.o-slinker-cardheader {
  position: relative;
  background-color: #248383;
  display: block;
  padding: 5px;
  border-radius: 5px;

  &> span.o-title {
    width: 90%;
    height: 100%;
  }

  &> span.o-icon {
    position: absolute;
    display: inline-block;
    right: -0.7rem;
    top: -0.5rem;
    width: 1.0rem;
    height: 1.0rem;
    background-repeat: no-repeat;
    // border: 5px solid #000;
    // border-radius: 15px;
    padding: -15px;

    &__delete {
      // background-image: url('/images/close-cross-icon.svg');

      & .cls-1 {
        fill: #444444;
      }

      & .cls-2 {
        fill: #ca2f2f;
      }


      &:hover { // placeholder - eventually serve stateful images on hover


        & .cls-1 {
          fill: #ca2f2f;
        }

        & .cls-2 {
          fill: #fff;
        }

      }
    }

    &__edit {
      top: 0.75rem;
      // background-image: url('/images/edit-pencil-icon.svg');

      & .cls-1 {
        fill: #444444;
      }

      & .cls-2 {
        fill: #1ed4a3;
      }

      &:hover { // placeholder - eventually serve stateful images on hover

        & .cls-1 {
          fill: #66b363;
        }

        & .cls-2 {
          fill: #fff;
        }

      }
    }

  }

  // color: #773763;
  // color: #238177;
  // color: #177238;
  // color: #238101;
  // color: #101238;
  // color: #FFFB00;
  // color: #d80027;

  // color: #4bddb3;
  color: #ccdbd7;
  // color: #04bddb;
  // color: #222

}



