.o-splash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: #fff;
  background-color: #fa507b;

  & .header-logo {
    font-size: 2rem;
    text-transform: uppercase;
  }

  & .header-button {
    border: none;
    color: #333;
    background-color: #eee;
    padding: 6px 10px;
    border-radius: 3px;
  }

}