/**
 * Voyage-2 Team-Bears-23
 * @date 27/09/2017
 *
 * @ticket SLNKR-002
 * @link https://github.com/chingu-coders/Voyage2-Bears-23/projects/1#card-4811806
 *
 */


// Component sytles
@import 'src/client/scss/components/Card';
@import 'src/client/scss/components/Collection';

// Shared project styles
@import 'src/client/scss/shared';
